:host {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  color: var(--p-surface-400);
  margin: 0 auto;
  margin-top: 1rem;
}
