<page-container [pageTitle]="equipment()?.name || ''">
  <div class="main-container">
    @if (isLoading()) {
      <loading-spinner />
    } @else {
      @if (isMobile()) {
        <img
          [src]="equipment()?.imageUrl"
          alt="{{ equipment()?.name }}"
          width="60%"
          [style]="{ alignSelf: 'center', marginBottom: '1rem' }"
        />
      }
      <div class="top-container">
        @if (!isMobile()) {
          <img
            [src]="equipment()?.imageUrl"
            alt="{{ equipment()?.name }}"
            width="40%"
          />
        }
        <div class="top-details">
          <div class="name-container">
            <h2>{{ equipment()?.name }}</h2>
            <h3>{{ equipment()?.brand }}</h3>
          </div>
          <p>{{ equipment()?.description }}</p>
          <p-divider [dt]="dividerDt" />
          <p><strong>Brand:</strong> {{ equipment()?.brand | titlecase }}</p>
          <p>
            <strong>Model:</strong>
            {{ equipment()?.model | titlecase }}
          </p>
          <p>
            <strong>Purchase Date:</strong>
            {{ (equipment()?.purchaseDate | date: "M/dd/yyyy") || "N/A" }}
          </p>
          <p>
            <strong>Purchase Price:</strong>
            {{ (equipment()?.purchasePrice | currency) || "N/A" }}
          </p>
          <p>
            <strong>Fuel Type:</strong>
            {{ equipment()?.fuelType | titlecase }}
          </p>
        </div>
      </div>
      <h3 [style]="{ marginBottom: '.75rem' }">Maintenance History</h3>
      <p-card [dt]="cardDt">
        <p-table [value]="equipment()?.maintenanceRecords || []">
          <ng-template pTemplate="header">
            <tr>
              <th>Service Date</th>
              <th>Service Cost</th>
              <th>Notes</th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-record>
            <tr>
              <td>{{ record.maintenanceDate | date: "M/dd/yyyy" }}</td>
              <td>{{ (record.cost | currency) || "N/A" }}</td>
              <td>{{ record.notes }}</td>
              <td>
                <div class="action-buttons">
                  <p-button
                    icon="ti ti-pencil"
                    severity="secondary"
                    outlined
                    rounded
                    (click)="openEquipmentModal()"
                  />
                  <p-button
                    icon="ti ti-trash"
                    severity="danger"
                    outlined
                    rounded
                    (click)="('')"
                  />
                </div>
              </td>
            </tr>
          </ng-template>
          <ng-template #emptymessage>
            <div [style]="{ margin: '.75rem' }">
              No Records found. Click on the button to add a new record.
            </div>
          </ng-template>
        </p-table>
      </p-card>
    }
  </div>
</page-container>
