@mixin multiLineEllipsis($lineCount: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $lineCount;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.desc {
  @include multiLineEllipsis();
}

:host::ng-deep {
  .p-card-body {
    height: 100%;
    flex-grow: 1;
  }

  .p-card-footer {
    margin-top: auto;
  }
}
