<entries-calendar [markers]="dayMarkers()" (monthChange)="changeMonths($event)">
  <ng-template #marker let-dayMarkers>
    @for (marker of dayMarkers; track marker) {
      <div [style.margin-left]="$index !== 0 ? '-.25rem' : ''">
        <p-button
          (click)="logData(marker.data)"
          [icon]="marker.icon"
          rounded
          size="small"
          severity="secondary"
          raised
          [dt]="markerButtonDt"
        />
      </div>
    }
  </ng-template>
</entries-calendar>
