<div class="main-container">
  <entries-calendar
    [markers]="allMarkers()"
    [isLoadingData]="entries.isLoading()"
    [mobileDateSelected]="selectedMobileDateToView()"
    [(mode)]="viewMode"
    (monthChange)="changeMonths($event)"
    (daySelected)="selectDay($event)"
  >
    <ng-template #marker let-dayMarkers>
      @for (marker of dayMarkers; track marker.id) {
        <div [style.margin-left]="$index !== 0 ? '-.25rem' : ''">
          @if (marker.data.entry) {
            <p-button
              (click)="navigateToEntry(marker.data.entry)"
              [icon]="marker.icon"
              rounded
              size="small"
              severity="secondary"
              raised
              [dt]="markerButtonDt"
            />
          } @else if (marker.data.forecast) {
            <p-button
              [icon]="marker.icon"
              rounded
              size="small"
              severity="info"
              raised
              [dt]="markerButtonDt"
              [pTooltip]="marker.data.forecast.shortForecast"
              tooltipPosition="top"
            />
          }
        </div>
      }
    </ng-template>
  </entries-calendar>
  @if (isMobile() || viewMode() === "list") {
    <p-divider />
    @if (viewMode() === "list") {
      <div class="list-entries-container" [style.paddingBottom]="'3rem'">
        @for (entry of listViewEntries(); track entry.id) {
          <mobile-entry-preview-card [entry]="entry" />
        } @empty {
          @if (!entries.isLoading()) {
            <p class="small-text">
              No entries for this month. Click the button below to create a new
              entry.
            </p>
          }
        }
      </div>
    } @else if (selectedMobileDateToView()) {
      <div class="list-entries-container">
        @for (
          selectedEntry of selectedMobileDateEntries();
          track selectedEntry.id
        ) {
          <mobile-entry-preview-card [entry]="selectedEntry" />
        } @empty {
          <p class="small-text">
            No entries for this date. Double tap it to add an entry.
          </p>
        }
      </div>
    } @else if (isMobile() && viewMode() !== "list") {
      <p class="small-text">
        Tap on a date to view entries or click the button below to create a new
        entry.
        @if (isMobile()) {
          Double tap a date to create a new entry for that date.
        }
      </p>
    }
  }
  <p-button
    icon="ti ti-clipboard-plus"
    class="speed-dial"
    rounded
    raised
    size="large"
    [dt]="addButtonDt()"
    [pTooltip]="'Create entry'"
    (click)="createEntry()"
  />
</div>
<router-outlet></router-outlet>
