.main-container {
  height: calc(100vh - var(--main-header-height) + 20px);
  width: 100%;

  .speed-dial {
    position: fixed;
    bottom: 20px;
    right: 20px;
  }

  .small-text {
    font-size: 0.8rem;
    color: var(--p-surface-400);
  }

  .mobile-entries-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .mobile-entry-preview-card {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  }
}
