.content-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-top: 1rem;

  .section-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .products-wrapper {
      display: flex;
      flex-wrap: wrap;
      gap: 0.25rem;
    }
  }
}
