<p-card [style]="{ width: 'max-content', maxWidth: '400px' }">
  <ng-template #title>
    <div style="display: flex; justify-content: space-between">
      Last Journal Entry
      <p-button
        icon="ti ti-external-link"
        size="small"
        outlined
        severity="secondary"
        (click)="goToEntry()"
      />
    </div>
  </ng-template>
  <ng-template #subtitle>
    {{ recentEntry.value()?.date | date: "M/dd/yyyy" }}
  </ng-template>

  @if (recentEntry.value(); as entry) {
    <div class="content-container">
      @if (entry.activities.length) {
        <div class="section-container">
          <h3>Activities:</h3>
          @for (activity of entry.activities; track activity) {
            <p>{{ activity.name }}</p>
          }
        </div>
      }
      @if (entry.lawnSegments.length) {
        <div class="section-container">
          <h3>Lawn segments:</h3>
          @for (segment of entry.lawnSegments; track segment) {
            <p>{{ segment.name }}</p>
          }
        </div>
      }
      @if (entry.notes) {
        <div class="section-container">
          <h3>Notes:</h3>
          <p>{{ entry.notes }}</p>
        </div>
      }
      @if (entry.products.length) {
        <div class="section-container">
          <h3>Products:</h3>
          <div class="products-wrapper">
            @for (product of entry.products; track product) {
              <product-small-card
                [product]="product"
                [asAppliedAmount]="true"
                [width]="'max-content'"
              ></product-small-card>
            }
          </div>
        </div>
      }
    </div>
  } @else {
    <ng-content *ngTemplateOutlet="noData"></ng-content>
  }
  <ng-template #noData>
    <p>No recent entries found.</p>
  </ng-template>
</p-card>
