<form [formGroup]="form" class="main-form">
  <div class="date-title-wrapper">
    <span class="input-wrapper">
      <p>Title:</p>
      <small class="error">*</small>
      <input pInputText formControlName="title" />
    </span>
    <span class="input-wrapper">
      <p>Date:</p>
      <small class="error">*</small>
      <p-datePicker [showIcon]="true" formControlName="date" />
    </span>
  </div>
  <div class="col-input-wrapper">
    Activities:
    <p-multiSelect
      [options]="activities()"
      [optionLabel]="'name'"
      formControlName="activities"
    />
  </div>
  <div class="col-input-wrapper">
    Lawn Segments:
    <p-multiSelect
      [options]="lawnSegments()"
      formControlName="lawnSegments"
      optionLabel="name"
    />
  </div>
  <div class="col-input-wrapper">
    Products:
    <p-multiSelect
      #productSelect
      [options]="products.value()"
      optionLabel="name"
      [placeholder]="products.isLoading() ? 'Loading...' : 'Select Products'"
      [loading]="products.isLoading()"
      [showClear]="true"
      (onChange)="addProductToForm($event); productSelect.hide()"
      (onClear)="this.form.controls.products.clear()"
    >
      <ng-template let-product #item>
        <div class="product-item">
          <img [src]="product.imageUrl" width="auto" height="30px" />
          <div>
            <p>{{ product.name }}</p>
            <p>{{ product.quantity }}{{ product.quantityUnit }}</p>
          </div>
        </div>
      </ng-template>
      <ng-template let-items #selecteditems>
        @if (items?.length) {
          {{ items.length }} selected
        }
      </ng-template>
    </p-multiSelect>
  </div>
  @let selectedProducts = form.controls.products.value;

  @if (selectedProducts?.length) {
    <div class="products-wrapper" formArrayName="products">
      @for (item of selectedProducts; track item.product?.id) {
        <div class="product-card" [formGroupName]="$index">
          <div class="product-info-wrapper">
            <img [src]="item.product?.imageUrl" width="auto" height="30px" />
            <div>
              <p>{{ item.product?.brand }} - {{ item.product?.name }}</p>
              <p>
                {{ item.product?.quantity }}{{ item.product?.quantityUnit }}
              </p>
            </div>
          </div>
          <div class="product-input-wrapper">
            <p-inputnumber
              [showButtons]="true"
              [min]="0"
              [max]="100"
              [maxFractionDigits]="2"
              mode="decimal"
              [inputStyle]="{ width: '6rem' }"
              formControlName="quantity"
            />
            <p-select
              [options]="quantityUnits"
              formControlName="quantityUnit"
            />
          </div>
        </div>
      }
    </div>
  }
  <div class="col-input-wrapper">
    Notes:
    <textarea pTextarea [rows]="3" formControlName="notes"></textarea>
  </div>
</form>
