<page-container pageTitle="Settings">
  <div class="section-wrapper">
    <h4>Location</h4>
    <small><em>*Will be used to determine soil temperature data</em></small>
    <p-autoComplete
      [suggestions]="foundLocations.value() || []"
      [forceSelection]="true"
      [ngModel]="currentSettings()?.location?.address || ''"
      (completeMethod)="searchLocations($event)"
      (onSelect)="updateLocationSetting($event)"
      optionLabel="properties.full_address"
      [inputStyle]="{ width: '300px' }"
      placeholder="Search for a location"
    >
      <ng-template #item let-location>
        <div style="display: flex; gap: 0.25rem; align-items: center">
          <i class="ti ti-map-pin"></i>
          {{ location.properties.full_address }}
        </div>
      </ng-template>
      <ng-template #selectedItem let-location>
        <div style="display: flex; gap: 0.25rem; align-items: center">
          <i class="ti ti-map-pin"></i>
          {{ location.properties.full_address }}
        </div>
      </ng-template>
    </p-autoComplete>
  </div>
  <div class="section-wrapper">
    <h4>Temperature unit</h4>
    <p-select
      [style]="{ width: '300px' }"
      [options]="[
        { label: 'Fahrenheit', value: 'fahrenheit' },
        { label: 'Celsius', value: 'celsius' }
      ]"
      [optionLabel]="'label'"
      [optionValue]="'value'"
      [ngModel]="currentSettings()?.temperatureUnit"
      (onChange)="updateSetting('temperatureUnit', $event.value.toLowerCase())"
      [loading]="settingsAreLoading()"
      [loadingIcon]="'ti ti-loader-2 icon-spin'"
      [placeholder]="settingsAreLoading() ? 'Loading...' : ''"
    />
  </div>
  <div class="section-wrapper">
    <h4>Lawn type</h4>
    <p-select
      [style]="{ width: '300px' }"
      [options]="[
        { label: 'Warm season', value: 'warm' },
        { label: 'Cool season', value: 'cool' }
      ]"
      [optionLabel]="'label'"
      [optionValue]="'value'"
      [ngModel]="currentSettings()?.grassType"
      (onChange)="updateSetting('grassType', $event.value)"
      [loading]="settingsAreLoading()"
      [loadingIcon]="'ti ti-loader-2 icon-spin'"
      [placeholder]="settingsAreLoading() ? 'Loading...' : ''"
    />
  </div>
  <div class="section-wrapper">
    <h4>Lawn size</h4>
    <p-inputnumber
      [(ngModel)]="lawnSize"
      [suffix]="' ft²'"
      allowEmpty
      [inputStyle]="{ flex: 'none', width: '300px' }"
      (ngModelChange)="setLawnSize($event)"
    />
  </div>
  <div class="section-wrapper">
    <h4>Lawn Segments</h4>
    <lawn-segments-table
      [currentlyEditingLawnSegmentId]="currentlyEditingLawnSegmentId()"
      [lawnSegments]="lawnSegments.value()"
    />
  </div>
</page-container>
