<page-container pageTitle="Settings">
  <div class="section-wrapper">
    <h4>Temperature unit</h4>
    <p-select
      [style]="{ width: '300px' }"
      [options]="[
        { label: 'Fahrenheit', value: 'fahrenheit' },
        { label: 'Celsius', value: 'celsius' }
      ]"
      [optionLabel]="'label'"
      [optionValue]="'value'"
      [ngModel]="currentSettings()?.temperatureUnit"
      (onChange)="updateSetting('temperatureUnit', $event.value.toLowerCase())"
    />
  </div>
  <div class="section-wrapper">
    <h4>Lawn type</h4>
    <p-select
      [style]="{ width: '300px' }"
      [options]="[
        { label: 'Warm season', value: 'warm' },
        { label: 'Cool season', value: 'cool' }
      ]"
      [optionLabel]="'label'"
      [optionValue]="'value'"
      [ngModel]="currentSettings()?.grassType"
      (onChange)="updateSetting('grassType', $event.value)"
    />
  </div>
  <div class="section-wrapper">
    <h4>Lawn size</h4>
    <p-inputnumber
      [(ngModel)]="lawnSize"
      [suffix]="' ft²'"
      allowEmpty
      [inputStyle]="{ flex: 'none', width: '300px' }"
      (ngModelChange)="setLawnSize($event)"
    />
  </div>
</page-container>
