.section-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.item-wrapper {
  display: flex;
  gap: 0.25rem;
  align-items: center;
}

.gdd-target-input {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
