@font-face {
	font-family: "lawn-icons";
	src:
		url("../fonts/lawn-icons.ttf") format("truetype"),
		url("../fonts/lawn-icons.eot") format("embedded-opentype"),
		url("../fonts/lawn-icons.woff") format("woff");
}
.li {
	font-family: "lawn-icons";
	font-size: 20px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.li-sprinkler:before {
	content: "ea01";
}
.li-shovel-dirt:before {
	content: "ea02";
}
.li-lawnmower:before {
	content: "ea03";
}
