<page-container pageTitle="Profile">
  @if (isGoogleUser()) {
    <p-message severity="info"
      >This account is linked to Google. You cannot change your profile in this
      app - please change it in your Google account.
    </p-message>
  }
  <div class="section-wrapper">
    <h4>Name:</h4>
    <div class="input-container">
      @if (isEditingField() === "name") {
        <input pInputText [(ngModel)]="name" />
        @if (name() && !isGoogleUser()) {
          <p-button
            [icon]="'ti ti-check'"
            [severity]="'success'"
            rounded
            (click)="
              updateField('name', user()?.name); isEditingField.set(null)
            "
          />
        }
        <p-button
          [icon]="'ti ti-x'"
          [severity]="'danger'"
          outlined
          rounded
          (click)="isEditingField.set(null)"
        />
      } @else {
        <p>{{ name() }}</p>
        @if (!isGoogleUser()) {
          <p-button
            icon="ti ti-pencil"
            text
            rounded
            (click)="isEditingField.set('name')"
          />
        }
      }
    </div>
  </div>
  <div class="section-wrapper">
    <h4>
      Email:
      @if (!isGoogleUser()) {
        <i
          class="ti ti-info-circle"
          pTooltip="Updating your email will require a re-login"
        ></i>
      }
    </h4>
    <div class="input-container">
      @if (isEditingField() === "email") {
        <input pInputText [(ngModel)]="email" />
        @if (email()) {
          <p-button
            [icon]="'ti ti-check'"
            [severity]="'success'"
            rounded
            (click)="
              updateField('email', user()?.email); isEditingField.set(null)
            "
          />
        }
        <p-button
          [icon]="'ti ti-x'"
          [severity]="'danger'"
          outlined
          rounded
          (click)="isEditingField.set(null)"
        />
      } @else {
        <p>{{ email() }}</p>
        @if (!isGoogleUser()) {
          <p-button
            icon="ti ti-pencil"
            text
            rounded
            (click)="isEditingField.set('email')"
          />
        }
      }
    </div>
  </div>
  <div class="section-wrapper">
    <h4>Profile picture:</h4>
    @let picture =
      user()?.picture?.includes("gravatar") ? undefined : user()?.picture;

    <div
      class="avatar-wrapper"
      [class.clickable]="!isGoogleUser()"
      (click)="openProfilePictureDialog()"
    >
      <p-avatar
        [label]="picture ? undefined : userInitials()"
        [dt]="avatarDt"
        [shape]="'circle'"
        [image]="picture"
        [style]="{ color: 'var(--p-surface-400)' }"
      />
      @if (!isGoogleUser()) {
        <div class="avatar-overlay">
          <i class="ti ti-camera"></i>
          <span>Change</span>
        </div>
      }
    </div>
  </div>
</page-container>
