<page-container pageTitle="Profile">
  <div class="section-wrapper">
    <h4>Name:</h4>
    @if (isEditingField() === "name") {
      <div style="display: flex; gap: 0.5rem; align-items: center">
        <input pInputText [(ngModel)]="name" />
        @if (name()) {
          <p-button
            [icon]="'ti ti-check'"
            [severity]="'success'"
            rounded
            (click)="updateName(); isEditingField.set(null)"
          />
        }
        <p-button
          [icon]="'ti ti-x'"
          [severity]="'danger'"
          outlined
          rounded
          (click)="isEditingField.set(null)"
        />
      </div>
    } @else {
      <div style="display: flex; gap: 0.5rem; align-items: center">
        <p>{{ user()?.name }}</p>
        <p-button
          icon="ti ti-pencil"
          text
          rounded
          (click)="isEditingField.set('name')"
        />
      </div>
    }
  </div>
  <div class="section-wrapper">
    <h4>Email:</h4>
    <p>{{ user()?.email }}</p>
  </div>
  <img class="section-wrapper" />
  <h4>Profile picture:</h4>
  @let picture = user()?.picture || undefined;
  @let initials = `${user()?.given_name?.[0]}${user()?.family_name?.[0]}`;

  <p-avatar
    [label]="picture ? undefined : initials"
    [dt]="avatarDt"
    [shape]="'circle'"
    [image]="picture"
  />
</page-container>
