<page-container pageTitle="Profile">
  <div class="section-wrapper">
    <h4>Name:</h4>
    <div class="input-container">
      @if (isEditingField() === "name") {
        <input pInputText [(ngModel)]="name" />
        @if (name()) {
          <p-button
            [icon]="'ti ti-check'"
            [severity]="'success'"
            rounded
            (click)="updateName(); isEditingField.set(null)"
          />
        }
        <p-button
          [icon]="'ti ti-x'"
          [severity]="'danger'"
          outlined
          rounded
          (click)="isEditingField.set(null)"
        />
      } @else {
        <p>{{ user()?.name }}</p>
        <p-button
          icon="ti ti-pencil"
          text
          rounded
          (click)="isEditingField.set('name')"
        />
      }
    </div>
  </div>
  <div class="section-wrapper">
    <h4>Email:</h4>
    <p>{{ user()?.email }}</p>
  </div>
  <img class="section-wrapper" />
  <h4>Profile picture:</h4>
  @let picture =
    user()?.picture?.includes("gravatar") ? undefined : user()?.picture;

  <p-avatar
    [label]="picture ? undefined : userInitials()"
    [dt]="avatarDt"
    [shape]="'circle'"
    [image]="picture"
    [style]="{ color: 'var(--p-surface-400)' }"
  />
  <h2>Editable profile coming soon!</h2>
</page-container>
