<p-card>
  <ng-template #title> Quick Stats </ng-template>
  <div class="stats-container">
    <p class="stat">
      <i class="ti ti-calendar icon"></i> Days since last entry:
      <b>
        {{ daysSinceLastEntry() }}
      </b>
    </p>
    <p-divider [dt]="dividerDt" />
    <p class="stat">
      <i class="li li-lawnmower icon"></i> Days since last mow:
      <b>
        {{ daysSinceLastMow() }}
      </b>
    </p>
    <p-divider [dt]="dividerDt" />
    <p class="stat">
      <i class="ti ti-package icon"></i> Days since last product app:
      <b>
        {{ daysSinceLastProductApplication() }}
      </b>
    </p>
    @if (lawnSeasonPercentage()) {
      <p-divider [dt]="dividerDt" />
      <div class="season-progress">
        <p class="stat">Season progress:</p>
        <p-progressbar [value]="lawnSeasonPercentage()" />
      </div>
    }
  </div>
</p-card>
