<p-card>
  <ng-template #title>
    <div class="title-container">
      <div class="title-with-icon">
        <i class="ti ti-chart-line icon"></i>
        Quick Stats
      </div>
      <div class="title-buttons">
        <p-button
          icon="ti ti-eye-off"
          [text]="true"
          [rounded]="true"
          size="small"
          severity="secondary"
          (onClick)="hideWidget()"
          [pTooltip]="'Hide this widget'"
          tooltipPosition="left"
        />
        <i
          class="ti ti-grip-vertical drag-handle"
          cdkDragHandle
          [pTooltip]="'Drag to reorder'"
          tooltipPosition="left"
        ></i>
      </div>
    </div>
  </ng-template>
  <div class="stats-container">
    <p class="stat">
      <i class="ti ti-calendar icon"></i> Days since last entry:
      <b>
        {{ daysSinceLastEntry() }}
      </b>
    </p>
    <p-divider [dt]="dividerDt" />
    <p class="stat">
      <i class="li li-lawnmower icon"></i> Days since last mow:
      <b>
        {{ daysSinceLastMow() }}
      </b>
    </p>
    <p-divider [dt]="dividerDt" />
    <p class="stat">
      <i class="ti ti-package icon"></i> Days since last product app:
      <b>
        {{ daysSinceLastProductApplication() }}
      </b>
    </p>
    @if (hasGddData()) {
      <p-divider [dt]="dividerDt" />
      <div class="gdd-progress">
        @if (isGddDormant()) {
          <p class="stat">
            <i class="ti ti-snowflake icon"></i> GDD Status:
            <b class="dormant">Dormant</b>
          </p>
        } @else if (isGddOverdue()) {
          <p class="stat">
            <i class="ti ti-alert-triangle icon"></i> GDD Status:
            <b class="overdue">Overdue</b>
          </p>
        } @else {
          <p class="stat">
            <i class="ti ti-flame icon"></i> GDD Progress:
            <b [class.complete]="isGddComplete()">{{ gddAccumulated() }} / {{ gddTarget() }}</b>
          </p>
          <p-progressbar [value]="gddPercentage()" [showValue]="false" />
        }
      </div>
    }
    @if (lawnSeasonPercentage()) {
      <p-divider [dt]="dividerDt" />
      <div class="season-progress">
        <p class="stat">Season progress:</p>
        <p-progressbar [value]="lawnSeasonPercentage()" />
      </div>
    }
  </div>
</p-card>
