.outer-card {
  display: flex;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--p-surface-200);
  border-radius: 4px;
  width: max-content;
  font-size: 24px;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 0255, 0.75);

  &.dark-mode {
    background-color: var(--p-surface-900);
    border: 1px solid var(--p-surface-700);
    background-color: rgba(0, 0, 0, 0.5);
  }

  .temp {
    display: flex;
    font-weight: 500;
    cursor: pointer;
  }
}

::ng-deep .depth-overlay-inner {
  width: max-content;
  font-size: 1rem;
  display: flex;
  gap: 0.5rem;
  align-items: center;
}
