<div
  class="outer-card"
  [class.dark-mode]="isDarkMode()"
  [style.padding]="isMobile() ? '4px' : ''"
>
  <i
    class="ti ti-thermometer"
    [style.font-size]="isMobile() ? '24px' : '30px'"
  ></i>
  @if (soilTemperatureData.isLoading()) {
    <i class="ti ti-loader-2 icon-spin"></i>
  } @else if (!userHasALocation()) {
    <i
      class="ti ti-info-circle"
      pTooltip="Go to settings to set your location and start receiving soil temperature data"
    ></i>
  } @else if (soilTemperatureData.error()) {
    <i
      class="ti ti-alert-triangle error"
      pTooltip="There was an error loading soil temperature data"
    ></i>
  } @else {
    <span
      #tempDisplay
      (click)="depthPopover.show($event, tempDisplay)"
      class="temp"
      [style.color]="displayColor()"
    >
      <p>{{ tempToDisplay() }}</p>
      <i
        [class.ti]="true"
        [class.ti-temperature-fahrenheit]="tempUnit() === 'fahrenheit'"
        [class.ti-temperature-celsius]="tempUnit() === 'celsius'"
      ></i>
    </span>
    <p-popover #depthPopover [dismissable]="true" [appendTo]="tempDisplay">
      <div class="depth-overlay-inner">
        <p>Show deeper temp</p>
        <p-toggleSwitch [(ngModel)]="showDeepTemp" />
      </div>
    </p-popover>
  }
</div>
