.form-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  gap: 1rem;
  padding-bottom: 80px;

  .inner-form-container {
    display: flex;
    gap: 1rem;
    width: 100%;

    .top-section {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      width: 100%;
    }
  }

  .grouped-bottom-section {
    display: flex;
    gap: 0.5rem;
    width: 100%;
  }

  .button-container {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    gap: 0.5rem;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem;
    background-color: var(--p-surface-0);
    border-top: 1px solid var(--p-surface-200);
    box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1);
    z-index: 100;

    .master-user-controls {
      margin-right: auto;
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

:host::ng-deep .p-datepicker {
  width: 100%;

  input {
    width: 100%;
  }

  .p-datepicker-input-icon-container {
    width: 100%;
  }
}

:host::ng-deep .p-fileupload-content {
  height: 100% !important;
}

:host::ng-deep .p-fileupload-header {
  display: none !important;
}

:host::ng-deep .p-fileupload-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  p-progressbar {
    display: none !important;
  }
}

:host::ng-deep .p-fileupload-file-list {
  flex-direction: row;
  justify-content: center;
  max-height: 100%;
  max-width: 100%;
}

:host::ng-deep .p-fileupload {
  width: 100%;
  height: 370px;
  display: flex;
  flex-direction: column;
}

.file-image {
  max-height: 100%;
  max-width: 250px;

  &.mobile {
    max-width: 100%;
  }
}

.trash-button {
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
}

.empty-file {
  width: 100%;
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  cursor: pointer;

  .upload-icon {
    font-size: 5rem;
    color: var(--p-surface-300);
  }
}

@media (max-width: 800px) {
  .form-container {
    padding-bottom: 220px;

    .grouped-bottom-section {
      flex-direction: column;
    }

    .button-container {
      flex-direction: column;
      bottom: 68px;
      padding: 1rem;
      z-index: 99;
    }
  }

  :host::ng-deep .form-container .button-container {
    p-button {
      width: 100%;

      button {
        width: 100%;
      }
    }
  }
}
