<page-container
  [pageTitle]="`${equipmentToEdit ? 'Edit' : 'Add'} Equipment`"
  [useNormalBack]="!!equipmentToEdit"
>
  <form [formGroup]="form" class="form-container">
    <div class="inner-form-container">
      <div class="top-section">
        <div class="input-container">
          Equipment name
          <input pInputText formControlName="name" />
        </div>
        <div class="input-container">
          Brand
          <input pInputText formControlName="brand" />
        </div>
        <div class="input-container">
          Model
          <input pInputText formControlName="model" />
        </div>
        <div class="input-container">
          Description
          <textarea pTextarea rows="5" formControlName="description"></textarea>
        </div>
      </div>
      <p-fileUpload
        #imageUploader
        [maxFileSize]="200000000"
        [multiple]="false"
        (onSelect)="fileUpload($event)"
        (onRemove)="fileClear()"
      >
        <ng-template #toolbar></ng-template>
        <ng-template #file let-file>
          <img
            [src]="file.objectURL"
            class="file-image"
            [class.mobile]="isMobile()"
          />
          <p-button
            icon="ti ti-trash"
            severity="danger"
            rounded
            (click)="imageUploader.remove($event, 0)"
            class="trash-button"
          />
        </ng-template>
        <ng-template #empty>
          <div class="empty-file" (click)="imageUploader.choose()">
            <p>Drag and drop file here or click to upload</p>
            <i class="ti ti-cloud-upload upload-icon"></i>
          </div>
        </ng-template>
      </p-fileUpload>
    </div>
    <div class="grouped-bottom-section">
      <div class="input-container">
        Purchase date
        <p-datePicker
          formControlName="purchaseDate"
          id="purchaseDate"
          showIcon
          [style]="{ width: '100%' }"
        />
      </div>
      <div class="input-container">
        Purchase price
        <p-inputNumber
          mode="currency"
          currency="USD"
          locale="en-US"
          [min]="0"
          [max]="9999999"
          [style]="{ width: '100%' }"
          formControlName="purchasePrice"
        />
      </div>
    </div>
    <div class="input-container">
      Serial number
      <input
        pInputText
        [style]="{ width: '100%' }"
        formControlName="serialNumber"
      />
    </div>
    <div class="input-container">
      Fuel type
      <input
        pInputText
        [style]="{ width: '100%' }"
        placeholder="Gasoline, Diesel, Battery, etc."
        formControlName="fuelType"
      />
    </div>
    <div class="button-container">
      <p-button
        label="Cancel"
        severity="secondary"
        size="large"
        (click)="back()"
      />
      <p-button
        label="Save"
        severity="primary"
        [icon]="isLoading() ? 'ti ti-loader-2 icon-spin' : ''"
        size="large"
        [disabled]="isLoading()"
        (click)="submit()"
      />
    </div>
  </form>
</page-container>
