<div
  class="main-container"
  [style.max-height]="isMobile() ? '90vh' : '80vh'"
  [style.min-height]="isMobile() ? '40vh' : '50vh'"
>
  @if (hiddenProducts()?.length) {
    <p class="helper-text">Click on the eye icon to unhide a product</p>
  }
  @for (product of hiddenProducts(); track product.id) {
    <hidden-product-row
      [product]="product"
      (onToggleProductVisibility)="toggleProductVisibility($event)"
    />
  } @empty {
    <empty-message
      message="There are currently no hidden products. Click on the eye icon of a product
      to hide it."
      icon="ti ti-eye"
    />
  }
</div>
