<p-table
  [value]="lawnSegments() || []"
  [loadingIcon]="'ti ti-loader-2 icon-spin'"
  [dt]="lawnSegsTableDt"
  editMode="row"
  dataKey="id"
  #lawnSegmentTable
>
  <ng-template #header>
    <tr>
      <th>Name</th>
      <th>Size (ft²)</th>
      <th></th>
    </tr>
  </ng-template>
  <ng-template #body let-segment let-editing="editing">
    <tr [pEditableRow]="segment">
      <td [width]="'35%'">
        <p-cellEditor>
          <ng-template #input>
            <input
              pInputText
              [style]="{ width: '75%' }"
              [(ngModel)]="segment.name"
            />
          </ng-template>
          <ng-template #output>
            {{ segment.name }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td [width]="'30%'">
        <p-cellEditor>
          <ng-template #input>
            <input
              pInputText
              [style]="{ width: '75%' }"
              [(ngModel)]="segment.size"
            />
          </ng-template>
          <ng-template #output>
            {{ segment.size }}
          </ng-template>
        </p-cellEditor>
      </td>
      <td [width]="'15%'">
        <div style="display: flex; gap: 0.5rem; justify-content: flex-end">
          @let isRowBeingEdited = editing;
          @let isInEditingMode = !!currentlyEditingLawnSegmentId();

          @if (isRowBeingEdited && isInEditingMode) {
            <p-button
              [icon]="'ti ti-check'"
              rounded
              outlined
              severity="success"
              pSaveEditableRow
              [disabled]="!segment.name || !segment.size || segment.size <= 0"
              (onClick)="onRowSave(segment)"
            />
            <p-button
              [icon]="'ti ti-x'"
              rounded
              outlined
              severity="info"
              pCancelEditableRow
              (onClick)="currentlyEditingLawnSegmentId.set(null)"
            />
          } @else {
            <p-button
              [icon]="'ti ti-pencil'"
              (onClick)="editLawnSegment(segment)"
              rounded
              outlined
              severity="info"
              pInitEditableRow
              [disabled]="isInEditingMode && !isRowBeingEdited"
            />
          }
          <p-button
            icon="ti ti-trash"
            (onClick)="deleteSegment(segment.id)"
            rounded
            outlined
            severity="danger"
          />
        </div>
      </td>
    </tr>
  </ng-template>
  <ng-template #footer>
    <p-button
      [icon]="'ti ti-plus'"
      rounded
      pTooltip="Add lawn segment"
      (onClick)="addLawnSegmentRow()"
    />
  </ng-template>
</p-table>
