<page-container pageTitle="Products">
  <p-tabs
    [value]="selectedTab()"
    scrollable
    (valueChange)="onTabChange($event)"
  >
    <p-tablist>
      @for (tab of tabs; track tab.value) {
        <p-tab [value]="tab.value">{{ tab.title }}</p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      @for (tab of tabs; track tab.value) {
        <p-tabpanel [value]="tab.value">
          <div style="display: flex; gap: 0.5rem; flex-wrap: wrap">
            @for (product of productsToShow(); track product.id) {
              <product-card [product]="product" />
            } @empty {
              <div
                style="
                  width: 100%;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: center;
                  gap: 1rem;
                  font-size: 2rem;
                  color: var(--p-surface-400);
                  margin-top: 1rem;
                "
              >
                <i class="ti ti-help" [style]="{ fontSize: '10rem' }"></i>
                <h4>No Products found for this category</h4>
              </div>
            }
          </div>
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
</page-container>
