<page-container pageTitle="Products">
  <p-tabs
    [value]="selectedTab()"
    scrollable
    (valueChange)="onTabChange($event)"
  >
    <p-tablist>
      @for (tab of tabs; track tab.value) {
        <p-tab [value]="tab.value">{{ tab.title }}</p-tab>
      }
    </p-tablist>
    <p-tabpanels>
      @for (tab of tabs; track tab.value) {
        <p-tabpanel [value]="tab.value">
          @if (products.isLoading()) {
            <div style="display: flex; width: 100%; justify-content: center">
              <p-progressSpinner [dt]="spinnerDt" />
            </div>
          } @else {
            <div style="display: flex; gap: 0.5rem; flex-wrap: wrap">
              @for (product of productsToShow(); track product.id) {
                <product-card [product]="product" />
              } @empty {
                <empty-message message="No products found for this category" />
              }
            </div>
          }
        </p-tabpanel>
      }
    </p-tabpanels>
  </p-tabs>
  <p-button
    icon="ti ti-layout-grid-add"
    class="speed-dial"
    rounded
    raised
    size="large"
    [dt]="addButtonDt"
    [pTooltip]="'Create product'"
    (click)="('')"
  />
</page-container>
