.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .button-container {
    display: flex;
    gap: 0.25rem;
  }
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .section-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .products-wrapper {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}
