@let date = entryData()?.date! | date: "M/d/yyyy";
@let time = entryTime() | date: "h:mm a";
@let soilTemp =
  entryData()?.soilTemperature?.toString() +
  "° " +
  (entryData()?.soilTemperatureUnit === "fahrenheit" ? "F" : "C");

@let isLoading = entryResource.isLoading();

<page-container pageTitle="Journal Entry">
  <div [formGroup]="editForm">
    <p-card>
      <ng-template #title>
        <div class="title-container">
          @if (isLoading) {
            <p-skeleton [width]="'100px'" />
            <p-skeleton [width]="'50px'" [height]="'40px'" />
          } @else {
            {{ date }}
            @if (!isMobile() && isInEditMode()) {
              <input
                pInputText
                formControlName="title"
                placeholder="Enter title"
                [style]="{ width: '50%' }"
              />
            } @else {
              @if (!isMobile() && entryData()?.title) {
                <h3>
                  {{ entryData()?.title }}
                </h3>
              }
            }
            <div class="button-container">
              <p-button
                [label]="isInEditMode() ? 'Save' : 'Edit'"
                [icon]="isInEditMode() ? 'ti ti-check' : 'ti ti-pencil'"
                outlined
                (click)="isInEditMode() ? submitEdits() : toggleEditMode()"
                [severity]="isInEditMode() ? 'success' : 'secondary'"
              />
              <p-button
                [label]="isInEditMode() ? 'Cancel' : 'Delete'"
                [icon]="isInEditMode() ? 'ti ti-x' : 'ti ti-trash-x'"
                outlined
                (click)="isInEditMode() ? toggleEditMode() : deleteEntry()"
                severity="danger"
              />
            </div>
          }
        </div>
        @if (isInEditMode()) {
          <div class="time-title-edit-container">
            <p-datePicker
              timeOnly
              [hourFormat]="'12'"
              formControlName="time"
              placeholder="Enter time"
              [style]="!isMobile() ? { width: '110px' } : {}"
            />
            @if (isMobile()) {
              <input
                pInputText
                formControlName="title"
                placeholder="Enter title"
              />
            }
          </div>
        } @else {
          <small>{{ time }}</small>
          @if (isMobile() && entryData()?.title) {
            <h3 [style.margin-block]="'.5rem'">{{ entryData()?.title }}</h3>
          }
        }
      </ng-template>
      <ng-template #subtitle>
        @if (isLoading) {
          <div
            [style]="{
              display: 'flex',
              gap: '1rem',
              marginTop: '1rem',
              alignItems: 'center'
            }"
          >
            <p-skeleton [width]="'100px'" />
            <p-skeleton [width]="'80px'" height="30px" borderRadius=".75rem" />
          </div>
        } @else {
          @if (entryData()?.soilTemperature) {
            Soil temp:
            <p-chip
              [label]="soilTemp"
              icon="ti ti-thermometer"
              [dt]="soilTempChipDt"
            />
          }
        }
      </ng-template>
      <p-divider />
      <div class="content-container">
        @if (isLoading) {
          @for (num of [1, 2, 3]; track num) {
            <p-skeleton [width]="'175px'" height="20px" />
            <p-skeleton [width]="'90px'" />
          }
        } @else {
          <div class="section-container">
            <h3>Activities:</h3>
            @if (isInEditMode()) {
              <p-multiSelect
                [options]="allActivities.value()"
                [optionLabel]="'name'"
                formControlName="activities"
                [style]="{ width: isMobile() ? '100%' : '50%' }"
                [showClear]="true"
                (onPanelShow)="onPanelShow()"
              />
            } @else {
              @if (activities()?.length) {
                @for (activity of activities(); track activity.id) {
                  <p>{{ activity.name }}</p>
                }
              } @else {
                <p>N/A</p>
              }
            }
          </div>
          <div class="section-container">
            <h3>Lawn segments:</h3>
            @if (isInEditMode()) {
              <p-multiSelect
                [options]="allLawnSegments.value()"
                [optionLabel]="'name'"
                formControlName="lawnSegments"
                [style]="{ width: isMobile() ? '100%' : '50%' }"
                [showClear]="true"
              />
            } @else {
              @if (entryData()?.lawnSegments?.length) {
                @for (segment of entryData()?.lawnSegments; track segment.id) {
                  <p>{{ segment.name }}</p>
                }
              } @else {
                <p>N/A</p>
              }
            }
          </div>
          <div class="section-container">
            <h3>Notes:</h3>
            @if (isInEditMode()) {
              <textarea
                pTextarea
                [rows]="3"
                formControlName="notes"
                [style]="{ width: isMobile() ? '100%' : '50%' }"
              ></textarea>
            } @else {
              @if (entryData()?.notes) {
                {{ entryData()?.notes }}
              } @else {
                <p>N/A</p>
              }
            }
          </div>
          <div class="section-container">
            <h3>Products:</h3>
            @if (isInEditMode()) {
              <products-selector
                [form]="editForm"
                [inputWidth]="isMobile() ? '100%' : '50%'"
                [productCardsWidth]="isMobile() ? '100%' : '50%'"
              />
            } @else {
              @if (entryData()?.products?.length) {
                <div class="products-wrapper">
                  @for (product of entryData()?.products; track product.id) {
                    <product-small-card
                      [product]="product"
                      [asAppliedAmount]="true"
                      [width]="isMobile() ? '100%' : 'max-content'"
                    />
                  }
                </div>
              } @else {
                <p>N/A</p>
              }
            }
          </div>
        }
      </div>
    </p-card>
  </div>
</page-container>
