.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .section-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .products-wrapper {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;

    .product-card {
      display: flex;
      width: max-content;
      align-items: center;
      justify-content: space-between;
      border: 1px dotted var(--p-surface-400);
      padding: 0.75rem;
      border-radius: 0.25rem;

      .product-info-wrapper {
        display: flex;
        gap: 0.5rem;
        align-items: center;
      }

      .product-input-wrapper {
        display: flex;
        gap: 0.25rem;
      }
    }
  }
}
