@if (isAuthLoading()) {
  <div class="loading-wrapper auth-loading">
    <img
      src="assets/yardvark-logo-transparent.png"
      [style.width]="isMobile() ? '250px' : '500px'"
    />
    <loading-spinner />
  </div>
} @else if (isLoggedIn()) {
  <main-header />
  @if (!isMobile()) {
    <main-side-nav />
  }
  <div
    class="main-content-wrapper"
    [style.padding-left]="isMobile() ? 0 : undefined"
  >
    <div class="inner-content-wrapper">
      <router-outlet />
    </div>
  </div>
  @if (isMobile()) {
    <mobile-bottom-navbar />
  }
  <p-toast position="bottom-left" />
  <p-confirmDialog position="top" />
}
