<header class="calendar-header">
  <h2 class="month-title">
    {{ this.currentMonth() }}
  </h2>
  <div class="buttons-container">
    <p-button
      (click)="this.toCurrentMonth()"
      label="Today"
      outlined
      size="small"
    />
    <p-button
      (click)="prevMonth()"
      label="Previous Month"
      severity="secondary"
      size="small"
    />
    <p-button
      (click)="nextMonth()"
      label="Next month"
      severity="secondary"
      size="small"
    />
  </div>
</header>
<div class="calendar-day-names-container">
  @for (item of this.dayNamesFormatted; track item.dayName) {
    <div
      [style.color]="item.isToday ? 'inherit' : 'var(--p-surface-400)'"
      [style.fontWeight]="item.isToday ? '500' : '400'"
    >
      {{ item.dayName }}
    </div>
  }
</div>
<div class="calendar-grid">
  @for (day of daysEnriched(); track day) {
    <div
      class="day"
      [style.gridColumnStart]="day.gridColumnStart"
      [style.color]="day.isToday ? 'white' : 'var(--p-surface-400)'"
      [style.fontWeight]="day.isToday ? '500' : '400'"
    >
      <div class="marker-container">
        @if (this.markerTpl(); as markerTpl) {
          <ng-container
            *ngTemplateOutlet="markerTpl; context: { $implicit: day.markers }"
          ></ng-container>
        }
      </div>
      <footer
        class="day-number"
        [style.backgroundColor]="day.isToday ? 'var(--p-primary-500)' : 'white'"
        [style.color]="day.isToday ? 'white' : 'inherit'"
      >
        {{ day.date | date: "d" }}
      </footer>
    </div>
  }
</div>
