.calendar-header {
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .month-title {
    font-size: 1.25rem;
    font-weight: bold;
  }

  .buttons-container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 0.875rem;
    width: 100%;

    .inner-buttons-container {
      display: flex;
      align-items: center;
      gap: 0.25rem;
    }
  }
}
