<h3>Average soil temperatures</h3>
@if (isLoadingChartData()) {
  <div [style]="{ margin: '.5rem' }">
    <chart-loader />
  </div>
} @else {
  <div class="chart-container">
    @if (isMobile()) {
      <p-card>
        <ng-container [ngTemplateOutlet]="chart"></ng-container>
      </p-card>
    } @else {
      <ng-container [ngTemplateOutlet]="chart"></ng-container>
    }
  </div>
}

<ng-template #chart>
  <p-chart
    [type]="tempsChartData().datasets[0].type"
    [data]="tempsChartData()"
    [options]="options()"
  />
</ng-template>
