.calendar-header {
  margin-bottom: 1rem;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;

  .header-inner-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    width: 100%;

    .title-and-loader {
      display: flex;
      gap: 0.5rem;
    }
  }

  .month-title {
    font-size: 1.25rem;
    font-weight: bold;
    width: 100%;
    width: max-content;
  }

  .buttons-container {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
    justify-content: flex-end;
  }
}

.calendar-day-names-container {
  margin-top: 1.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
  font-size: 0.75rem;
  line-height: 1.5rem;
  color: var(--p-surface-500);
}

.calendar-grid {
  margin-top: 0.5rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 0.25rem;
  font-size: 0.875rem;

  .day {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.75rem;
    background-color: var(--p-surface-100);
    color: var(--p-surface-400);
    font-weight: 400;
    width: 100%;
    height: 10vw;

    &.dark-mode {
      background-color: var(--p-surface-800);
    }

    &.mobile {
      height: 11vw;
      border-radius: 0.25rem;
    }

    .marker-container {
      display: flex;
      flex-wrap: wrap;
      row-gap: 0.25rem;
      width: 100%;
      padding: 0.5rem;
      color: black;
    }

    .mobile-markers-indicator {
      height: 0.75rem;
      width: 0.75rem;
      border-radius: 100%;
      background-color: var(--p-primary-300);
      position: absolute;
      top: 0.25rem;
      left: 0.25rem;
    }

    .additional-count {
      position: absolute;
      top: 0.15rem;
      left: 1.1rem;
    }

    .day-number {
      display: flex;
      height: 1.5rem;
      width: 1.5rem;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      font-size: 0.875rem;
      position: absolute;
      bottom: 0.25rem;
      right: 0.25rem;
      background-color: white;

      &.dark-mode {
        background-color: var(--p-surface-700) !important;
      }

      &.mobile {
        width: 1.2rem;
        height: 1.2rem;
        bottom: 0.35rem;
        right: 0.35rem;
      }
    }
  }
}
