<div [formGroup]="form()" class="form-container">
  <p-multiSelect
    #productSelect
    [options]="productsSorted()"
    dataKey="id"
    optionLabel="name"
    filterBy="name,brand"
    [placeholder]="products.isLoading() ? 'Loading...' : 'Select Products'"
    [loading]="products.isLoading()"
    [loadingIcon]="'ti ti-loader-2'"
    [showClear]="true"
    (onChange)="updateSelectedProducts($event)"
    (onClear)="productsControl().clear()"
    [style]="{ width: inputWidth() }"
    [formControlName]="'productsSelected'"
    appendTo="body"
  >
    <ng-template let-product #item>
      <product-small-card [product]="product" [showBorder]="false" />
    </ng-template>
    <ng-template let-items #selecteditems>
      @if (items?.length) {
        {{ items.length }} selected
      }
    </ng-template>
  </p-multiSelect>
  @let selectedProducts = productsControl().value;
  @if (selectedProductNitrogen()) {
    <div class="nitrogen-display">
      <p-message
        severity="info"
        [text]="'Est. N: ' + selectedProductNitrogen()!.toFixed(2) + ' lbs/1000 sqft'"
      />
    </div>
  }
  @if (selectedProducts?.length) {
    <div
      class="products-wrapper"
      [style.width]="productCardsWidth()"
      formArrayName="products"
    >
      @for (item of selectedProducts; track item.product?.name) {
        <div [formGroupName]="$index">
          <product-small-card
            [product]="item.product!"
            [hideSubtitle]="true"
          >
            <ng-template #actions>
              <div class="product-input-wrapper">
                <p-inputNumber
                  [showButtons]="true"
                  [min]="0"
                  [max]="100"
                  [maxFractionDigits]="2"
                  mode="decimal"
                  [inputStyle]="{ width: '6rem' }"
                  formControlName="quantity"
                />
                <p-select
                  [options]="quantityUnits"
                  formControlName="quantityUnit"
                  appendTo="body"
                  [panelStyle]="{ zIndex: 20000, position: 'relative' }"
                />
              </div>
            </ng-template>
          </product-small-card>
        </div>
      }
    </div>
  }
</div>
