.input-container {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  width: 100%;
}

:host::ng-deep .p-fileupload-content {
  height: 100% !important;
}

:host::ng-deep .p-fileupload-header {
  display: none !important;
}

:host::ng-deep .p-fileupload-content {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  p-progressbar {
    display: none !important;
  }
}
