<p-drawer
  [(visible)]="isOpen"
  [modal]="true"
  [position]="'right'"
  styleClass="sidebar"
  header="Find entries"
>
  <div class="search-container">
    <p style="font-size: 10px">
      Search by title, date, time, activities, or products
    </p>
    <p-iconfield>
      <p-inputicon styleClass="ti ti-search" />
      <input
        type="text"
        pInputText
        placeholder="Search"
        [style.width]="'100%'"
      />
    </p-iconfield>
    <p-divider />
    No entries found
  </div>
</p-drawer>
