<p-drawer
  [(visible)]="isOpen"
  [modal]="true"
  [position]="'right'"
  styleClass="sidebar"
  header="Find entries"
  [fullScreen]="isMobile()"
  (onHide)="form.reset()"
>
  <form class="search-container" [formGroup]="form">
    <div [style]="{ fontSize: '10px' }">
      <p>Search by title/description, date, time, activities, or products.</p>
      <p>
        By default, if no date range is selected, year-to-date is used as the
        range
      </p>
    </div>
    <p-floatlabel variant="on" [style]="{ width: '100%' }">
      <p-iconfield>
        <input
          id="search"
          type="text"
          pInputText
          [style.width]="'100%'"
          formControlName="titleOrDescription"
        />
        <p-inputicon styleClass="ti ti-search" />
      </p-iconfield>
      <label for="search">Title or description</label>
    </p-floatlabel>
    <p-floatlabel variant="on" [style]="{ width: '100%' }">
      <p-datePicker
        id="date"
        formControlName="dates"
        [showIcon]="true"
        [style]="{ width: '100%' }"
        selectionMode="range"
      />
      <label for="date">Date range</label>
    </p-floatlabel>
    <p-floatlabel variant="on" [style]="{ width: '100%' }">
      <p-multiSelect
        id="activities"
        [options]="activities.value()"
        [optionLabel]="'name'"
        [optionValue]="'id'"
        formControlName="activities"
        [style]="{ width: '100%' }"
      />
      <label for="activities">Activities</label>
    </p-floatlabel>
    <p-floatlabel variant="on" [style]="{ width: '100%' }">
      <p-multiSelect
        id="segments"
        [options]="lawnSegments.value()"
        [optionLabel]="'name'"
        [optionValue]="'id'"
        formControlName="lawnSegments"
        [style]="{ width: '100%' }"
      />
      <label for="segments">Lawn segments</label>
    </p-floatlabel>
    <p-floatlabel variant="on" [style]="{ width: '100%' }">
      <p-multiSelect
        id="products"
        [options]="products.value()"
        [optionLabel]="'name'"
        [optionValue]="'id'"
        formControlName="products"
        [style]="{ width: '100%' }"
      />
      <label for="products">Products</label>
    </p-floatlabel>
    <div class="button-container">
      <p-button
        label="Search"
        icon="ti ti-search"
        size="small"
        (onClick)="submit()"
      />
    </div>
    <p-divider [styleClass]="'divider'" />
    No entries found
  </form>
</p-drawer>
