<p-card
  [style]="{ position: 'relative', cursor: 'pointer' }"
  (click)="goToEquipment()"
>
  <ng-template #title>
    <div class="title-wrapper">
      <h3>{{ equipment().brand }} {{ equipment().name }}</h3>
      <p-button
        icon="ti ti-hammer"
        outlined
        rounded
        severity="secondary"
        pTooltip="Add maintenance record"
        (onClick)="openMaintenanceRecordModal($event, equipment().id)"
      />
    </div>
  </ng-template>
  <div class="content-container">
    <div class="img-desc">
      <img
        [src]="equipment().imageUrl || noImageUrl"
        alt="{{ equipment().name }}"
        class="equipment-img"
      />
      <div class="inner-content">
        <p>{{ equipment().description }}</p>
        <p>
          <em> Last maintenance: </em>
          @if (equipment().maintenanceRecords.length > 0) {
            {{
              equipment().maintenanceRecords[0].maintenanceDate
                | date: "MM/dd/yyyy"
            }}
          } @else {
            <em>N/A</em>
          }
        </p>
      </div>
    </div>
  </div>
</p-card>
