<p-card [style]="{ height: '175px' }">
  <ng-template #title>
    <h2>{{ equipment().brand }} {{ equipment().name }}</h2>
  </ng-template>
  <div class="content-container">
    <div class="img-desc">
      <img
        [src]="equipment().imageUrl"
        alt="{{ equipment().name }}"
        class="equipment-img"
      />
      <div class="inner-content">
        <p>{{ equipment().description }}</p>
        <p>
          <em> Last maintenance: </em>
          {{
            equipment().maintenanceRecords[0]?.maintenanceDate
              | date: "MM/dd/yyyy"
          }}
        </p>
      </div>
    </div>
    <p-button
      icon="ti ti-hammer"
      outlined
      rounded
      severity="secondary"
      [style]="{ alignSelf: 'flex-end' }"
    />
  </div>
</p-card>
