<p-card
  [style]="{ position: 'relative', cursor: 'pointer' }"
  (click)="goToEquipment()"
>
  <ng-template #title>
    <h2>{{ equipment().brand }} {{ equipment().name }}</h2>
  </ng-template>
  <div class="content-container">
    <div class="img-desc">
      <img
        [src]="equipment().imageUrl"
        alt="{{ equipment().name }}"
        class="equipment-img"
      />
      <div class="inner-content">
        <p class="desc">{{ equipment().description }}</p>
        <p>
          <em> Last maintenance: </em>
          @if (equipment().maintenanceRecords.length > 0) {
            {{
              equipment().maintenanceRecords[0].maintenanceDate
                | date: "MM/dd/yyyy"
            }}
          } @else {
            <em>N/A</em>
          }
        </p>
      </div>
    </div>
  </div>
  <div class="button-wrapper">
    <p-button
      icon="ti ti-hammer"
      outlined
      rounded
      severity="secondary"
      pTooltip="Add maintenance record"
    />
  </div>
</p-card>
