<header class="calendar-header">
  <div class="header-inner-container">
    <p-button
      icon="ti ti-arrow-left"
      (click)="back()"
      size="small"
      outlined
      severity="secondary"
    />
    <h2 class="month-title">
      {{ currentMonth() }}
    </h2>
  </div>
  <div class="buttons-container">
    <p-button (click)="toCurrentMonth()" label="Today" outlined size="small" />
    <p-button
      (click)="prevMonth()"
      [outlined]="false"
      icon="ti ti-chevron-left"
      severity="secondary"
      text
      rounded
      size="large"
    />
    <p-button
      (click)="nextMonth()"
      [outlined]="false"
      icon="ti ti-chevron-right"
      severity="secondary"
      text
      rounded
      size="large"
    />
  </div>
</header>
<div class="calendar-day-names-container">
  @for (item of dayNamesFormatted; track item.dayName) {
    <div
      [style.color]="item.isToday ? 'inherit' : 'var(--p-surface-400)'"
      [style.fontWeight]="item.isToday ? '500' : '400'"
    >
      {{ item.dayName }}
    </div>
  }
</div>
<div class="calendar-grid">
  @for (day of days(); track day.date) {
    <div
      class="day"
      [style.gridColumnStart]="day.gridColumnStart"
      [style.color]="day.isToday ? 'white' : 'var(--p-surface-400)'"
      [style.fontWeight]="day.isToday ? '500' : '400'"
    >
      <div class="marker-container">
        @if (markerTpl(); as markerTpl) {
          <ng-container
            *ngTemplateOutlet="markerTpl; context: { $implicit: day.markers }"
          ></ng-container>
        }
      </div>
      <footer
        class="day-number"
        [style.backgroundColor]="day.isToday ? 'var(--p-primary-500)' : 'white'"
        [style.color]="day.isToday ? 'white' : 'inherit'"
      >
        {{ day.date | date: "d" }}
      </footer>
    </div>
  }
</div>
