.sidenav {
  width: 200px !important;
}

.menu {
  border: none;
}

.p-menu-item-link-active {
  color: var(--p-primary-600) !important;
  background-color: var(--p-primary-100) !important;

  > span {
    color: var(--p-primary-600) !important;
  }
}
