<div class="header" [class.dark-mode]="isDarkMode()">
  <img
    [src]="`assets/yardvark-logo-${isMobile() ? 'minimal' :'transparent'}.png`"
    alt="logo"
    height="50px"
    width="auto"
    [routerLink]="''"
    [style]="{ cursor: 'pointer' }"
  />
  <div class="menu">
    <p-menu #authMenu [model]="menuItems" [popup]="true" />
    <soil-temperature-display />
    <p-avatar
      shape="circle"
      [label]="isDefaultPicture() ? userInitials() : undefined"
      (click)="authMenu.show($event)"
      styleClass="user-logo"
      [dt]="avatarDt"
      [style]="{ color: 'var(--p-surface-400)' }"
    >
      @if (!isDefaultPicture()) {
        <img [src]="user()?.picture" referrerpolicy="no-referrer" />
      }
    </p-avatar>
    @if (isMobile()) {
      <p-button
        icon="ti ti-menu-2"
        (click)="toggleSideNav()"
        variant="text"
        size="large"
      />
    }
  </div>
</div>
