<div class="header">
  <img
    [src]="`assets/yardvark-logo-${isSmallScreen() ? 'minimal' :'transparent'}.png`"
    alt="logo"
    height="50px"
    width="auto"
    [routerLink]="''"
    [style]="{ cursor: 'pointer' }"
  />
  <div class="menu">
    <p-menu #authMenu [model]="menuItems" [popup]="true" />
    <soil-temperature-display />
    <p-avatar
      shape="circle"
      (click)="authMenu.show($event)"
      styleClass="user-logo"
    >
      <img [src]="user()?.picture" referrerpolicy="no-referrer" />
    </p-avatar>
    @if (isSmallScreen()) {
      <p-button
        icon="ti ti-menu-2"
        (click)="toggleSideNav()"
        variant="text"
        size="large"
      />
    }
  </div>
</div>
