<div class="header">
  <img
    [src]="`assets/yardvark-logo-${isSmallScreen() ? 'minimal' :'transparent'}.png`"
    alt="logo"
    height="50px"
    width="auto"
    [routerLink]="''"
  />
  <div class="menu">
    <soil-temperature-display />
    <p-avatar
      shape="circle"
      (click)="authMenu.show($event)"
      styleClass="user-logo"
    >
      <img [src]="user()?.picture" referrerpolicy="no-referrer" />
    </p-avatar>
    <p-menu #authMenu [model]="menuItems" [popup]="true" />
  </div>
</div>
