<p-drawer
  [modal]="isMobile()"
  [visible]="isMobile() ? isMobileSidebarOpen() : true"
  [closable]="isMobile()"
  [dismissible]="isMobile()"
  [styleClass]="isMobile() ? 'mobile-nav' : 'sidenav'"
  [position]="isMobile() && isMobileSidebarOpen() ? 'right' : 'left'"
  (onHide)="isMobileSidebarOpen.set(false)"
>
  <ng-template #headless>
    <div class="sidenav-container" [style.margin-top]="isMobile() ? '5px' : ''">
      <p-menu
        [model]="menuItems"
        [dt]="menuDt()"
        [style]="{ fontSize: '24px' }"
      />
      <div class="dark-mode-container">
        <p-toggleSwitch
          [ngModel]="isDarkMode()"
          (onChange)="toggleDarkMode()"
        />
        <p>Dark Mode</p>
      </div>
    </div>
  </ng-template>
</p-drawer>
