.sidenav {
  width: var(--side-nav-width) !important;
  padding-top: var(--main-header-height);
  transform: none !important;
  box-shadow: none !important;
}

.mobile-nav {
  width: var(--side-nav-width) !important;
  z-index: 100000 !important;
}

.menu {
  border: none;
}

.p-menu-item-link-active {
  color: var(--p-primary-600) !important;
  background-color: var(--p-primary-50) !important;

  > span {
    color: var(--p-primary-600) !important;
  }
}
