@mixin sidenav-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin-bottom: 1rem;
}

@mixin bottom-control-container {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-left: 1rem;
}

@mixin bottom-controls {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sidenav {
  width: var(--side-nav-width) !important;
  padding-top: var(--main-header-height);
  transform: none !important;
  box-shadow: none !important;

  .sidenav-container {
    @include sidenav-container();
  }

  .bottom-controls {
    @include bottom-controls();
  }

  .feedback-container {
    @include bottom-control-container();
  }

  .dark-mode-container {
    @include bottom-control-container();
  }
}

.mobile-nav {
  width: var(--side-nav-width) !important;
  z-index: 100000 !important;

  .sidenav-container {
    @include sidenav-container();
  }

  .bottom-controls {
    @include bottom-controls();
  }

  .feedback-container {
    @include bottom-control-container();
  }

  .dark-mode-container {
    @include bottom-control-container();
  }
}

.p-menu-item-link-active {
  border-radius: 2px !important;
  color: var(--p-primary-600) !important;
  background-color: var(--p-primary-50) !important;

  :root.yv-dark-mode & {
    background-color: var(--p-primary-900) !important;
    color: var(--p-primary-100) !important;
  }

  > span {
    color: var(--p-primary-600) !important;

    :root.yv-dark-mode & {
      color: var(--p-primary-100) !important;
    }
  }
}
