<p-drawer
  [modal]="isMobile()"
  [visible]="isMobile() ? isMobileSidebarOpen() : true"
  [closable]="isMobile()"
  [dismissible]="isMobile()"
  [styleClass]="isMobile() ? 'mobile-nav' : 'sidenav'"
  [position]="isMobile() && isMobileSidebarOpen() ? 'right' : 'left'"
  (onHide)="isMobileSidebarOpen.set(false)"
>
  <ng-template #headless>
    <div class="sidenav-container" [style.margin-top]="isMobile() ? '5px' : ''">
      <p-menu
        [model]="menuItems"
        [dt]="menuDt()"
        [style]="{ fontSize: '24px' }"
      />
      <div class="bottom-controls">
        <div class="feedback-container">
          <p-button
            icon="ti ti-bug"
            severity="secondary"
            [outlined]="true"
            (click)="openFeedbackDialog()"
            pTooltip="Send Feedback"
            tooltipPosition="right"
          />
          <p>Send Feedback</p>
        </div>
        <div class="dark-mode-container">
          <p-toggleSwitch
            [ngModel]="isDarkMode()"
            (onChange)="toggleDarkMode()"
          />
          <p>Dark Mode</p>
        </div>
      </div>
    </div>
  </ng-template>
</p-drawer>
