<form [formGroup]="form" class="main-form">
  <div class="date-title-wrapper">
    <span class="input-wrapper">
      <div [style]="{ display: 'flex' }">
        <p>Title:</p>
        <small class="error">*</small>
      </div>
      <input pInputText formControlName="title" [style]="{ width: '100%' }" />
    </span>
    <span class="input-wrapper">
      <div [style]="{ display: 'flex' }">
        <p>Date:</p>
        <small class="error">*</small>
      </div>
      <p-datePicker
        [showIcon]="true"
        formControlName="date"
        [style]="{ width: '100%' }"
      />
    </span>
  </div>
  <div class="col-input-wrapper">
    Activities:
    <p-multiSelect
      [options]="activities()"
      [optionLabel]="'name'"
      formControlName="activities"
    />
  </div>
  <div class="col-input-wrapper">
    Lawn Segments:
    <p-multiSelect
      [options]="lawnSegments()"
      formControlName="lawnSegments"
      optionLabel="name"
    />
  </div>
  <div class="col-input-wrapper">
    Products:
    <products-selector [form]="form" />
  </div>
  <div class="col-input-wrapper">
    Notes:
    <textarea pTextarea [rows]="3" formControlName="notes"></textarea>
  </div>
</form>
