<div
  class="product-card"
  [style.border]="showBorder() ? '1px dotted var(--p-surface-400)' : 'none'"
>
  <div class="product-info-wrapper">
    <div class="image-container">
      <img [src]="product().imageUrl || noImageUrl" height="40px" />
    </div>
    <div>
      {{ product().name }}
      @if (!hideSubtitle()) {
        <p class="sub-text">{{ product().brand }}</p>
        <p class="sub-text">
          {{ product().guaranteedAnalysis }} |
          @if (asAppliedAmount()) {
            {{ product().quantity }}{{ product().quantityUnit }} Applied
          } @else {
            {{ product().category | capitalize }}
          }
        </p>
      }
    </div>
  </div>
  @if (actions()) {
    <ng-container *ngTemplateOutlet="actions() || null"></ng-container>
  }
</div>
