<div
  class="product-card"
  [style.border]="showBorder() ? '1px dotted var(--p-surface-400)' : 'none'"
>
  <div class="product-info-wrapper">
    <img [src]="product().imageUrl" width="auto" height="30px" />
    <div>
      <p>{{ product().brand }} - {{ product().name }}</p>
      <p class="sub-text">
        {{ product().guaranteedAnalysis }} |
        {{ product().quantity }}
        {{ product().quantityUnit }}
        @if (asAppliedAmount()) {
          Applied
        } @else {
          {{ product().containerType }}
        }
      </p>
    </div>
  </div>
  <div class="product-input-wrapper"></div>
</div>
