@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --side-nav-width: 225px;
  --main-header-height: 75px;
}

* {
  margin: 0;
}

html {
  font-family: "Inter", sans-serif;
  color: var(--p-surface-600);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-spin {
  animation: spin 1.5s linear infinite;
}

.error {
  color: var(--p-red-500);
}
