@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("../src/assets/lawn-icons/css/lawn-icons.css");

:root {
  --side-nav-width: 225px;
  --main-header-height: 75px;
}

* {
  margin: 0;
}

html {
  font-family: "Inter", sans-serif;
  color: var(--p-surface-600);
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icon-spin {
  display: inline-block;
  animation: spin 1.5s linear infinite;
  transform-origin: 52% 52%;
}

.error {
  color: var(--p-red-500);
}

.p-overlay-mask {
  z-index: 10000 !important;
}

.p-toast {
  z-index: 20000 !important;
}
