<page-container pageTitle="Dashboard" [hideBackButton]="true">
  <ng-template #action1>
    <p-button
      icon="ti ti-search"
      outlined
      [size]="isMobile() ? 'small' : 'large'"
      severity="secondary"
      (onClick)="openEntrySearchSidebar()"
      [label]="isMobile() ? 'Search' : 'Search for entries'"
    />
  </ng-template>
  @if (recentEntry.isLoading()) {
    <loading-spinner />
  } @else {
    @if (userIsNewWithNoEntries()) {
      <p-message
        icon="ti ti-comet"
        text="Welcome to Yardvark! Click below to create your first entry."
        severity="success"
      />
    }
    @if (!userHasALocation() && !isLocationLoading()) {
      <p-message
        icon="ti ti-info-circle"
        text="It looks like you haven't set your location yet! Go to settings to set your location and start receiving soil temperature data."
        severity="warn"
      />
    }
    <div class="cards-container">
      <recent-entry />
      <quick-stats />
      <lawn-health-score />
      <weather-card />
    </div>
    @if (isMobile()) {
      <p-speeddial
        icon="ti ti-plus"
        [model]="mobileSpeedDialMenu()"
        [style]="{ position: 'fixed', bottom: '20px', right: '20px' }"
      />
    }
  }
</page-container>

<entry-search-sidebar [(isOpen)]="isEntrySearchSidebarOpen" />
