.main-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  flex-wrap: wrap;
}

.empty-state-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 200px;

  @media (min-width: 768px) {
    min-height: 350px;
  }
}

.chart-empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 400px;
}

::ng-deep.info-overlay {
  width: 300px;
}
