.main-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  @media screen and (max-width: 768px) {
    margin-bottom: 4rem;
  }

  .title-container {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 400px) {
      flex-wrap: wrap;
    }

    .inner-title,
    .actions {
      display: flex;
      gap: 0.5rem;
      align-items: center;
    }
  }
}
