<page-container pageTitle="Equipment" [hideBackButton]="true">
  @if (equipment.isLoading()) {
    <loading-spinner />
  } @else {
    @for (equipmentItem of equipment.value(); track equipmentItem.id) {
      <equipment-preview-card [equipment]="equipmentItem" />
    } @empty {
      <p-card>
        <ng-template #title>
          <h2>No equipment found</h2>
        </ng-template>
        <div class="empty-card-content">
          <p>Try adding some equipment to your inventory.</p>
          <p-button icon="ti ti-plus" label="Add Equipment" (click)="('')" />
        </div>
      </p-card>
    }
  }
</page-container>
