.empty-card-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-equipment-button {
  position: fixed;
  bottom: 20px;
  right: 20px;

  @media (max-width: 768px) {
    bottom: calc(80px + env(safe-area-inset-bottom));
  }
}
