<page-container pageTitle="Equipment">
  <ng-template #action1>
    <p-floatlabel variant="on">
      <p-iconfield>
        <input
          id="search"
          type="text"
          pInputText
          [style.width]="'100%'"
          [disabled]="!equipment.hasValue()"
          [(ngModel)]="searchQuery"
        />
        <p-inputicon styleClass="ti ti-search" />
      </p-iconfield>
      <label for="search">Search</label>
    </p-floatlabel>
  </ng-template>
  @if (equipment.isLoading()) {
    <loading-spinner />
  } @else {
    @for (equipmentItem of filteredEquipment(); track equipmentItem.id) {
      <equipment-preview-card [equipment]="equipmentItem" />
    } @empty {
      <p-card>
        <ng-template #title>
          <h2>No equipment found</h2>
        </ng-template>
        <div class="empty-card-content">
          <p>Try adding some equipment to your inventory.</p>
          <p-button icon="ti ti-plus" label="Add Equipment" (click)="('')" />
        </div>
      </p-card>
    }
  }
  <p-button
    icon="ti ti-layout-grid-add"
    class="add-equipment-button"
    rounded
    raised
    size="large"
    [dt]="addButtonDt"
    [pTooltip]="isMobile() ? '' : 'Add equipment'"
    (click)="navToAddEquipment()"
  />
</page-container>
